body {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(https://zefirka.club/uploads/posts/2022-09/1663555596_1-zefirka-club-p-oboi-dlya-chata-telegramm-1.jpg);
} 
